* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
}

:after,
:before {
    box-sizing: inherit;
}

a,
del,
ins {
    text-decoration: none;
}

a {
    color: inherit;
}

button,
label {
    cursor: pointer;
}

button,
input {
    outline: 0;
}

em {
    font-style: italic;
}

p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
a::-moz-selection,
li::-moz-selection,
audio::-moz-selection,
video::-moz-selection,
div::-moz-selection,
br::-moz-selection,
em::-moz-selection,
u::-moz-selection,
strong::-moz-selection {
    color: var(--bg-color);
    background: var(--txt-color);
}

span::-moz-selection,
img::-moz-selection {
    color: var(--txt-color);
    background: transparent;
}

mark::-moz-selection {
    color: var(--txt-color);
    background: var(--bg-color);
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
a::selection,
li::selection,
audio::selection,
video::selection,
div::selection,
br::selection,
em::selection,
u::selection,
strong::selection {
    color: var(--bg-color);
    background: var(--txt-color);
}

span::selection,
img::selection {
    color: var(--txt-color);
    background: transparent;
}

mark::selection {
    color: var(--txt-color);
    background: var(--bg-color);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--extra-color);
}